amaranth[builtin-yosys] ~= 0.5

# That doesn't actually pick up yosys?
# Get tools from YoWASP:
yowasp-yosys ~= 0.48
yowasp-nextpnr-ice40 ~= 0.7

git+https://github.com/amaranth-lang/amaranth-boards@9d97c4816288c9c2cc304d9280c2c63178d50d2f

git+https://github.com/amaranth-lang/amaranth-soc@5c43cf58f15d9cd9c69ff83c97997708d386b2dc

# Support for amaranth 0.5;
# This is merged to mainline
git+https://github.com/greatscottgadgets/luna@1462160ba66302aaae69dca9e54fd71498a8b3ef

regex
# Dev dependencies:
flake8
pytest
